//* Colors
$color-primary: #319fc0;
$color-secondary: #54a7a8;
$color-tertiary: #208b76;
$color-quaternary: #17ca68;

$color-grey-light: #efefef;
$color-grey-dark: #333;
$color-accent: #8fb99b;

$color-hover: #bfd9e2;
$color-link-hover: #b39898;

$color-paragraph: #4a4a4a;

$color-green: #34eb49;

$color-white: #fff;
$color-black: #000;

//* Font
$default-font-size: 16px;

//* Grid
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 4rem;
