.contact {
	margin-top: 30px;
	&__section {
		&__container {
			padding-top: 26px;
			padding-bottom: 0;
			padding-left: 10px;
			padding-right: 10px;

			&__content {
				border-radius: 24px;
				background-color: rgba(28, 42, 54, 0.355);
				padding-left: 30px;
				padding-right: 30px;
				padding-top: 18px;
				padding-bottom: 30px;
				@media screen and (max-width: 450px) {
					padding-left: 10px;
					padding-right: 10px;
				}
				&__header {
					font-weight: 300;
					font-variant: small-caps;
					font-size: 43px;
					font-family: bebas-neue, sans-serif;
					color: $color-accent;
				}

				&__name {
					padding-top: 15px;
					padding-left: 10px;
					padding-bottom: 10px;
					font-size: 30px;
					color: $color-secondary;
				}

				&__span {
					display: flex;
					margin: 10px 10px;
					&__icon {
						height: 23px;
						font-size: 23px;
						color: $color-accent;
					}
				}

				&__item {
					color: white;
					padding-left: 20px;
				}

				&__form-header {
					padding-top: 20px;
					padding-bottom: 10px;
					font-size: 36px;
					font-weight: 300;
					text-align: center;
					font-variant: small-caps;
					font-family: bebas-neue, sans-serif;
					color: $color-secondary;
				}

				&__form-sub {
					padding-bottom: 20px;
					text-align: center;
					color: white;

					@media screen and (max-width: 600px) {
						padding-bottom: 15px;
					}
				}

				&__form-container {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					margin-top: 5px;
					&__form {
						@media screen and (max-width: 400px) {
							width: 100%;
						}
						&__label {
							color: white;
							padding-top: 10px;
							font-size: 20px;
							padding-bottom: 10px;
						}

						&__input {
							resize: none;
							width: 330px;
							height: 37px;
							border-radius: 14px;
							background-color: rgb(0, 17, 24);
							color: white;
							outline-color: $color-accent;
							padding: 0px 7px;
							@media screen and (max-width: 400px) {
								width: 100%;
							}
						}

						&__textarea {
							margin-bottom: 2rem;
							padding: 1.5rem;
							font-size: 1.6rem;
							outline-color: $color-primary;
							caret-color: $color-primary;
							background-color: $color-grey-light;
							border-radius: 0.4rem;
							resize: none;
							width: 330px;
							border-radius: 14px;
							background-color: rgb(0, 17, 24);
							color: white;
							outline-color: $color-accent;
							padding: 0px 7px;
							@media screen and (max-width: 400px) {
								width: 100%;
							}
						}

						&__submit {
							display: block;
							height: 45px;
							width: 82px;
							margin-top: 10px;
							margin-left: 3px;
							color: black;
							border-radius: 14px;
							background-color: $color-accent;
							transition-delay: 100ms;
							transition-duration: 200ms;
							&:hover,
							&:focus {
								color: white;
								transition-delay: 100ms;
								transition-duration: 200ms;
								background-color: rgb(0, 17, 24);
							}
						}
					}
				}
			}
		}
	}
}
