.footer {
	text-align: center;
	background: rgba(12, 13, 14, 0.966);
	color: $color-white;

	&__logo {
		color: $color-grey-light;
		text-decoration: none;
		font-size: 44px;
		font-weight: lighter;
		display: block;
		background-position: center;
		height: 54px;
		background-repeat: no-repeat;
		font-family: 'Times New Roman', Times, serif;
		cursor: pointer;
		margin: 20px 0;
		transition-delay: 400ms;
		transition-duration: 400ms;
		@include respond(phone) {
			font-size: 34px;
		}

		@include respond(med-phone) {
			font-size: 24px;
		}

		@include respond(med-phone) {
			height: 44px;
		}

		&:hover {
			color: rgb(72, 218, 205);
			transition-delay: 400ms;
			transition-duration: 400ms;
			opacity: 0.4;
		}
	}

	&__list {
		justify-content: space-between;
		padding: 20px 0;

		&__item {
			display: inline-block;
			padding: 0 44px;

			a {
				text-decoration: none;
				list-style: none;
				color: white;

				&:hover {
					color: rgb(57, 143, 184);
				}
			}
		}
	}

	&__ending {
		margin: 20px 0;
		padding-bottom: 15px;
	}
}
