*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	// border: 1px solid red;
}

// html {

//   @include respond(tab-land) {
//       font-size: 56.5%;
//   }

//   @include respond(tab-port) {
//       // font-size: 50%;
//   }

//   @include respond(phone) {
//       // font-size: 80%;
//   }
// }

body {
	box-sizing: border-box;
	font-family: bebas-neue, sans-serif;

	@include respond(phone) {
		padding: 0;
	}
	// background-color: rgba(28, 42, 54, 0.355);
	background: url(../../assets/images/Joba.jpg);
	background-size: auto;
	background-size: cover;
	background-attachment: fixed;
	width: 100vw;
	height: 292vh;
	background-repeat: no-repeat;
}

::selection {
	background-color: rgba($color-primary, 0.3);
	color: $color-tertiary;
}
